<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
         <style type="text/css">
     .block1 {
     text-align: center;
   }
   .block2 {
     text-align: center;
     padding-down: 30px;
   }
   .articles {
     text-align: center;
     border: 20px groove #e3e3e3;
     border-radius: 50px;
   }
   .btn-rounded {
    border-radius: 19px;
}
.blockb {
     text-align: center;
     padding-down: 30px;
   }
   .resizedTextbox {width: 1000px; height: 500px; maxlength="30000"}
</style>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <!-- jQuery (Cloudflare CDN) -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body class="container">
    {% block content %}{% endblock %}
<tr>
       <div class="blockb">
   <p><input type="button" class="btn btn-warning" value="Назад" style="width: 300px;" onClick="javascript:history.go(-1)"></p>
</div>
    </tr>
</body>
</html>
